.newsItems {
  .webPartTitle {
    margin-bottom: 1em;
  }


  :global .ms-Spinner {
    width: 7em;
    margin: 0 auto;
  }

  :global .ms-Persona {
    cursor: pointer;
  }

  :global .ms-DocumentCard {
    float: left;
    margin: 0.5em;
  }
}